logfile: midas.log
loglevel: DEBUG
dbio:
   factory:  fsbased
about: 
   title: "MIDAS Authoring Services"
   describedBy: "http://localhost:9091/midas/docs"
   href: "http://localhost:9091/midas/"
authentication:
   type: jwt
   key: "tokensecret"
   require_expiration: false
services: 
   dap:
      about: 
         message:     "DMP Service is available"
         title:       "Digital Asset Publication (DAP) Authoring API"
         describedBy: "http://localhost:9091/docs/dapsvc-elements.html"
         href:        "http://localhost:9091/midas/dap"

      dbio: 
         superusers:                [ "rlp3" ]
         project_id_minting:
           default_shoulder:
             public:  "mds3" 
           allowed_shoulders:
             midas: ["mdsx", "mds3", "mds0", "pdr0"]
             public: ["mds3"]

      include_headers:
         "Access-Control-Allow-Origin": "*"

      default_convention: mds3
      conventions: 
         mdsx: 
            about: 
                title:       "Digital Asset Publication (DAP) Authoring API (experimental)"
                describedBy: "http://localhost:9091/docs/dapsvc-elements.html"
                href:        "http://localhost:9091/midas/dap/mdsx"
                version:     mdsx
            assign_doi: always
            doi_naan:   "10.18434"
         mds3: 
            about: 
                title:       "Digital Asset Publication (DAP) Authoring API (mds3 convention)"
                describedBy: "http://localhost:9091/docs/dapsvc-elements.html"
                href:        "http://localhost:9091/midas/dap/mds3"
                version:     mds3
            assign_doi: always
            doi_naan:   "10.18434"
            nerdstorage:
              type: fsbased
              store_dir: /data/midas/nerdm

   dmp: 
      about: 
         message:     "DMP Service is available"
         title:       "Data Management Plan (DMP) Authoring API"
         describedBy: "http://localhost:9091/docs/dmpsvc-elements.html"
         href:        "http://localhost:9091/midas/dmp"

      default_perms:
          read: [ "grp0:public" ]

      dbio: 
         superusers:                [ "rlp3" ]
         project_id_minting:
           default_shoulder:
             midas:  "mdm1"
             public: "mdm1"
           allowed_shoulders:
             midas:  ["mdm0", "mdm1"]
             public: ["mdm0", "mdm1"]

      include_headers:
         "Access-Control-Allow-Origin": "*"

      default_convention: mdm1
      conventions: 
         mdm1: 
            about: 
                title:       "Data Management Plan (DMP) Authoring API (mdm1 convention)"
                describedBy: "http://localhost:9091/docs/dmpsvc-elements.html"
                href:        "http://localhost:9091/midas/dmp/mdm1"
                version:     mdm1

   nsdi:
      about:
         message:     "NSD Indexing Service"
         title:       "NIST Staff Directory Indexing API"
         describedBy: "http://localhost:9091/docs/nsdisvc-elements.html"
         href:        "http://localhost:9091/midas/nsdi"
      default_convention: v1
      conventions: 
         v1:
            nsd:
                service_endpoint: http://peopleserver:9092/
            about: 
                title:       "NIST Staff Directory Indexing API (version 1)"
                describedBy: "http://localhost:9091/docs/nsdisvc-elements.html"
                href:        "http://localhost:9091/midas/nsdi/v1"
                version:     v1
