pipenv
setuptools<66.0.0
json-spec
jsonschema==2.4.0
requests
pytest==8.4.2
filelock
crossrefapi
pyyaml
jsonmerge==1.3.0
funcsigs
bagit>=1.6.3,<2.0
fs>=2.0.21
jsonpatch
mako
pyjwt
trml2pdf==0.6
preppy==5.0.1