name: python-source
on:
  workflow_dispatch:
  push:
    branches-ignore: ['main', 'integration']
    paths:
      - 'python/**'
      - 'scripts/*.py'
      - 'scripts/**/*.py'
      - 'metadata'
jobs:
  testall_python:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set up Docker
        uses: docker/setup-buildx-action@v1

      - name: Build Containers
        env:
          OAR_DOCKERHUB_CRED: ${{ secrets.OAR_DOCKERHUB_CRED }}
        run: |
          bash scripts/dhsetup.sh
          cd docker && bash ./dockbuild.sh pdrpytest

      - name: Run Unit Tests via Docker
        run: scripts/testall.docker python

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: test-artifacts
          path: python/build/test-artifacts/

